# bot settings
bot:
    # telegram bot token
    token:
    # telegram bot name
    name:
    # owner bot chat id
    owner:
    # first users. need chat id
    users: []
    # debag
    debug: true

# mysql database params
# testing and work mariadb
database:
    user:
    password:
    base:
    debug: true
