<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>familycoin</title>
    <link rel="shortcut icon" href="static/img/ppp.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://kit.fontawesome.com/5bf19def44.js" crossorigin="anonymous"></script>

</head>

<body>
{{ template "header" . }}
<div class="container is-mobile">
    <div class="is-content">

        <div class="box" style="display: flex">
            <strong>{{.Title}}</strong>
        </div>


        <div class="box">
            <h3 class="subtitle">Данные по расходам</h3>
        </div>

    </div>
</div>

<script src="static/js/main.js"></script>
</body>

</html>