<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>familycoin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://kit.fontawesome.com/5bf19def44.js" crossorigin="anonymous"></script>
   
</head>

<body>
    <header>
        <nav class="navbar is-right" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <img src="static/img/ppp.png" width="" height="60">
                    <p> familycoin bot</p>
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        <i class="fas fa-home"></i> Домой
                    </a>

                    <a class="navbar-item" href="/debit">
                        <i class="fas fa-piggy-bank"></i> Приходы
                    </a>

                    <a class="navbar-item" href="/credit">
                        <i class="fas fa-cart-arrow-down"></i> Расходы
                    </a>
                    
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">

                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container is-mobile">
        <div class="is-content">

            <div class="box">
                <strong>🤴 В казне сейчас, милорд!</strong>
                {{ range $i := .Balances }}
                    <br> {{$i}}
                {{ end }}
            </div>

            <div class="box">
                {{ range $i := .Tops }}

                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{$i.UserPic}}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{$i.UserName}}</strong> <small>@{{$i.UserName}}</small>
                                    <br>
                                    Топ трат недели:
                                    {{ range $cat := $i.Categories }}
                                        <br> {{$cat}}
                                    {{ end }}
                                    <!--
                                    <br> 🚕 Покатухи: 30к &#8381;
                                    <br> 🛒 Обычные покупки: 5к &#8381;
                                    <br> 🧐 Подписки: 1к &#8381;
                                    -->
                                </p>
                            </div>
                        </div>
                    </article>

                {{ end }}

            </div>

            <div class="box">
                <strong>Надо отложить на этой неделе</strong>
                <br> С еженедельных трат: 10к &#8381;
                <br> С приходов: 15к &#8381;
                <br> Заинвестировать: 1к &#8381;
            </div>







            <div class="tags is-grouped is-grouped-multiline">

                <div class="tags has-addons">
                    <span class="tag is-link">🥒 Полезная еда</span>
                    <span class="tag">476 &#8381</span>
                </div>

                <div class="tags has-addons">
                    <span class="tag is-link">🍟 фастфуд </span>
                    <span class="tag">476 &#8381</span>
                </div>

                <div class="tags has-addons">
                    <span class="tag is-link">🎬 Развекухи </span>
                    <span class="tag">3450 &#8381</span>
                </div>

                <div class="tags has-addons">
                    <span class="tag is-link">🎬 Развекухи </span>
                    <span class="tag">3450 &#8381</span>
                </div>

            </div>

        </div>
    </div>
    
    <footer class="is-footer">
        <nav class="level is-mobile" style="margin-bottom:10px;">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Пришло</p>
                    <p class="title">200K &#8381;</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Ушло</p>
                    <p class="title">150K &#8381;</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Баланс</p>
                    <p class="title">456K &#8381;</p>
                </div>
            </div>
        </nav>
    </footer>
    <script src="static/js/main.js"></script>
</body>
</html>