<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>familycoin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://kit.fontawesome.com/5bf19def44.js" crossorigin="anonymous"></script>
    <style>
        label {
            text-align: center;
        }
        .is-narrow {
            margin: 0 AUTO;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
</head>

<body>
<div class="columns is-mobile is-centered ">
    <div class="column is-narrow">
        <div class="box">
            <label class="label">
                <img src="static/img/ppp.png" width="150px" alt="Логотип"/>
            </label>
            <label class="label">
                <p class="is-small">*familycoin bot page</p>
            </label>
            <div class="control">
                <script async src="https://telegram.org/js/telegram-widget.js?14"
                        data-telegram-login="{{.BotName}}"
                        data-size="large"
                        data-radius="10"
                        data-auth-url="/login"
                        data-request-access="write">

                </script>
            </div>
        </div>
    </div>
</div>


</body>

</html>